Django==5.0.3
djangorestframework>=3.12
django-cors-headers>=3.7
python-dotenv
virtualenvwrapper-win
djangorestframework-simplejwt==5.3.1
django-jazzmin==2.6.0
django-import-export==3.3.7
django-crispy-forms==2.1
django-ckeditor-5==0.2.11
django-taggit==5.0.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
django-mathfilters==1.0.0
virtualenv==20.25.0
virtualenvwrapper-win==1.2.7
openai==1.14.2
django-js-asset==2.2.0
pydantic==2.6.4
pydantic_core==2.16.3
